@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    scroll-behavior: smooth;
}


@media (max-width:900px) {
    #name{
        display: none;
    }
    #nav-buttons{
        display: none;
    }
}
@media (min-width:900px) {
    .show-button{
        display: none;
    }
}

/* hamburger to x animation */


.line {
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.top-line-active {
    transform: rotate(45deg) translate(9px, 6px);
}

.bottom-line-active {
    transform: rotate(-45deg) translate(9px, -5px);
}


/* hamburger to x animation */

#nav{
    max-height: 80px;
    transition: max-height .4s ease-in-out, opacity .4s ease-in-out;
    overflow: hidden;
}
#nav.active{
    max-height: 400px;
}

/* media query for projects */
@media (max-width:1000px){
    .project{
        flex-wrap: wrap;
    }  
    .project-image{
        width: 100%;
    }
}
